<nav class="navbar navbar-expand-lg navbar-dark bg-dark custom-nav">
	<%= link_to root_path, class: "navbar-brand" do %>
		<div class="alternate">
			<div class="logo-alternate-1">
				<%= image_tag 'favicon.svg', width: '30px', height: '30px' %>
			</div>

			<div class="logo-alternate-2">

				<%= image_tag 'favicon_white.svg', width: '30px', height: '30px', class: 'logo-alternate-2' %>
			</div>
		</div>
	<% end %>

	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav ml-auto">
			<li class="nav-item <%= active?(root_path) %>">
				<%= link_to root_path, class: 'nav-link' do %>
					<span data-toggle="tooltip" title="Home" class="glyphicon24 glyphicon-home icon-hover"></span>
					<span class="sr-only">(current)</span>
				<% end %>
			</li>

			<% if current_user %>
				<li class="nav-item <%= active?(posts_path) %>">
					<%= link_to posts_path, class: 'nav-link' do %>
						<span data-toggle="tooltip" title="Requested Hours" class="glyphicon24 glyphicon-clock icon-hover"></span>
						<span class="sr-only">(posts)</span>
					<% end %>
				</li>

				<% if employee? %>
					<li class="nav-item <%= active?(new_post_path) %>">
						<%= link_to new_post_path, class: 'nav-link', id: 'newPostFromNav' do %>
							<span data-toggle="tooltip" title="New Hour" class="glyphicon24 glyphicon-calendar-add icon-hover"></span>
							<span class="sr-only">(posts)</span>
						<% end %>
					</li>
				<% end %>
			<% end %>

			<% if admin? %>
				<li class="nav-item <%= active?(audit_logs_path) %>">
					<%= link_to audit_logs_path, class: 'nav-link' do %>
						<span data-toggle="tooltip" title="Audit Logs" class="glyphicon24 glyphicon-process icon-hover"></span>
						<span class="sr-only">(posts)</span>
					<% end %>
				</li>
			<% end %>

			<li class="nav-item dropdown mr-sm-2">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<% if admin? %>
						<span data-toggle="tooltip" title="Account" class="glyphicon24 glyphicon-admin-<%= current_user.gender %> icon-hover"></span>
					<% elsif employee? %>
						<span data-toggle="tooltip" title="Account" class="glyphicon24 glyphicon-employee-<%= current_user.gender %> icon-hover"></span>
					<% else %>

					<% end %>
				</a>

				<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
					<% if admin? %>
						<%= link_to admin_root_path, class: "dropdown-item" do %>
							Admin Dashboard
						<% end %>
						<div class="dropdown-divider"></div>
					<% end %>

					<% if current_user %>
						<%= link_to destroy_user_session_path, class: "dropdown-item", method: :delete do %>
							Logout
						<% end %>
					<% else %>
						<%= link_to new_user_session_path, class: "dropdown-item" do %>
							Login
						<% end %>
					<% end %>
				</div>
			</li>
		</ul>

	</div>
</nav>
