<div class="wrapper">
	<table class="table table-bordered table-hover">
		<thead>
			<tr>
				<th class="centrify">
					<center>
						<% if params[:sort] == 'asc' && params[:by] == 'id' %>
							<%= link_to root_path(sort: 'desc', by: 'id', page: params[:page]), class: 'link' do%>
								Post Id
								<span class="glyphicon24 glyphicon-arrow-up"></span>
							<% end %>
						<% elsif params[:sort] == 'desc' && params[:by] == 'id' %>
							<%= link_to root_path(sort: 'asc', by: 'id', page: params[:page]), class: 'link' do%>
								Post Id
								<span class="glyphicon24 glyphicon-arrow-down"></span>
							<% end %>
						<% else %>
							<%= link_to root_path(sort: 'asc', by: 'id', page: params[:page]), class: 'link' do%>
								Post Id
							<% end %>
						<% end %>
					</center>
				</th>

				<th>
					<center>
						<% if params[:sort] == 'asc' && params[:by] == 'date' %>
							<%= link_to root_path(sort: 'desc', by: 'date', page: params[:page]), class: 'link' do%>
								Date
								<span class="glyphicon24 glyphicon-arrow-up"></span>
							<% end %>
						<% elsif params[:sort] == 'desc' && params[:by] == 'date' %>
							<%= link_to root_path(sort: 'asc', by: 'date', page: params[:page]), class: 'link' do%>
								Date
								<span class="glyphicon24 glyphicon-arrow-down"></span>
							<% end %>
						<% else %>
							<%= link_to root_path(sort: 'asc', by: 'date', page: params[:page]), class: 'link' do%>
								Date
							<% end %>
						<% end %>
					</center>
				</th>

				<th><center>User Id</center></th>
				<th><center>Name</center></th>
				<th><center>Rationale</center></th>
				<th><center>Status<center></th>
				<th><center>Actions<center></th>
			</tr>
		</thead>

		<tbody id="submittedPosts">
			<%= render partial: 'pending_approval', collection: @pending_approvals, as: :x %>
		</tbody>
	</table>
</div>

<div class="centrify" id="paginator"><%= paginate @pending_approvals, remote: true %></div>

<div id="pendingSubmissions">
	Hello!
	<a class="btn-outline-pink-animated" data-content="Hello Admin"></a>
</div>
</div>
