<tr class="table" id="table-<%= x.id %>">
	<td class="table-row">
			<%= link_to edit_post_path(x) do %>
				<%= x.id %>
			<% end %>
	</td>

	<td class="table-row">
		<%= x.date %>
	</td>

	<td class="table-row">
		<%= link_to admin_user_path(x.user) do %>
			<%= x.user.id %>
		<% end %>
	</td>

	<td class="table-row">
		<%= link_to admin_user_path(x.user) do %>
			<%= x.user.full_name %>
		<% end %>
	</td>

	<td class="table-row">
		<%= x.rationale.then { |x| x.length > 100 ? x[0..99] + '...' : x } %>
	</td>

	<td class="table-row centrify">
		<%= form_for x, url: update_with_ajax_post_path(x), method: :put, remote: true, html: { autocomplete: 'off' } do |f|%>
			<div class="form-group">
				<div style="display: none">
					<%= f.radio_button :status, 'submitted' %>
					<%= f.label :status, class: 'badge-custom badge-custom-success' do %>
						<span class="glyphicon16 glyphicon-like">Approve</span>
					<% end %>
				</div>

				<div style="display: inline-block">
					<%= f.radio_button :status, 'approved', class: 'radio-button-toggler' %>
					<%= f.label :status, class: 'badge-custom badge-custom-success' do %>
						<span class="glyphicon16 glyphicon-like">Approve</span>
					<% end %>
				</div>

				<div style="display: inline-block">
					<%= f.radio_button :status, 'rejected', class: 'radio-button-toggler' %>
					<%= f.label :status, 'Rejected', class: 'badge-custom badge-custom-danger' do %>
						<span class="glyphicon16 glyphicon-dislike">Reject</span>
					<% end %>
				</div>

				<div style="text-align: center">
					<label class="btn-outline-blue-animated" style="width: 50% ; " data-content="Ok">
						<%= f.submit '', style: 'display: none', id: "submit" %>
					</label>
				</div>
		<% end %>
	</td>

	<td class="centrify-inline-wrap">
		<div class="centrify-inline">
			<%= link_to edit_post_path(x), class: 'freeze-link' do %>
				<span class="glyphicon20 glyphicon-edit icon-hover freeze-icon"></span>
			<% end %>

			<%= link_to destroy_with_ajax_post_path(x), class: 'freeze-link', method: :delete, remote: true, data: { confirm: 'Are you sure?' } do %>
				<span class="glyphicon20 glyphicon-trashcan icon-hover freeze-icon"></span>
			<% end %>
		</div>
	</td>
</tr>
