<tr class="table">
	<td class="table-row">
		<% if policy(x).update? %>
			<%= link_to edit_post_path(x),  id: "edit_#{x.id}" do %>
				<span class="glyphicon20 glyphicon-edit icon-hover"></span>
			<% end %>
		<% end %>

		<% if policy(x).destroy? %>
			<%= link_to post_path(x), method: :delete, id: "deletePostFromIndex_#{x.id}", data: { confirm: "Are you sure deleting item #{x.id}?"} do %>
				<span class="glyphicon20 glyphicon-trashcan icon-hover"></span>
			<% end %>
		<% end %>
	</td>

	<td class="table-row"><%= x.id %></td>
	<td class="table-row"><%= x.daily_hours.round(1) %></td>
	<td class="table-row"><center><%= status_label(x.status) %></center></td>
	<td class="table-row"><%= x.date %></td>
	<td class="table-row"><%= x.rationale.then { |y| y.length > 50 ? y[0..50] + '...' : y } %></td>
</tr>
