<div class="container-fluid">
	<h1 class="flex-center">Posts</h1>

	<table class="table table-bordered table-hover">
		<thead>
			<tr>
				<th><center>#</center></th>
				<th><center>User</center></th>
				<th><center>Date</center></th>
				<th><center>Rationale</center></th>
			</tr>
		</thead>

		<tbody>
			<% @posts.each_with_index do |x, i| %>
				<tr class=<%= @table_class.rotate![0] if i.even? %>>
					<td><%= x.id %></td>
					<td><%= x.user.full_name %></td>
					<td><%= x.date %></td>
					<td><%= x.rationale.then { |x| x.length > 50 ? x[0..50] + '...' : x } %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>
