<div class="py-4">
	<h2><center><%= @post.rationale %></center></h2>
</div>

<table class="table table-hover table-bordered">
	<thead>
		<tr>
			<th>Hours Worked</th>
			<th>Employee Name</th>
			<th>Employee ID</th>
			<th>Date</th>
			<th>Current State of Approval</th>
		</tr>
	</thead>

	<tbody>
		<tr class="table">
			<td class="table-row"><span> <%= @post.daily_hours %></span></td>
			<td class="table-row"><span><%= @post .user.full_name %></span></td>
			<td class="table-row"><span><%= @post .user_id %></span></td>
			<td class="table-row"><span>Date: <%= @post.date %></span></td>
			<td class="table-row"><span><%= @post.status %></span></td>
		</tr>
	</tbody>
</table>

<% if policy(@post).update? %>
	<center><%= link_to '', edit_post_path(@post), 'data-content': 'Edit', class: 'btn-outline-emerald-animated' %></center>
<% end %>
