<!DOCTYPE html>
<html>
	<head>
		<%= favicon_link_tag 'favicon.svg' %>
		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>

		<title>Time Tracker</title>

		<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Alice&display=swap" rel="stylesheet">

		<%= stylesheet_link_tag 'glyphicon', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= stylesheet_link_tag 'glyphicon', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= stylesheet_link_tag 'inline-svg', media: 'all', 'data-turbolinks-track': 'reload' %>

		<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

		<%= stylesheet_link_tag 'btn_outline_animated', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= stylesheet_link_tag 'btn_outline_animated', media: 'all', 'data-turbolinks-track': 'reload' %>

		<%= stylesheet_link_tag 'notify-send', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= stylesheet_link_tag 'notify-send', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_pack_tag 'notify-send', 'data-turbolinks-track': 'reload' %>


		<%= stylesheet_link_tag 'static', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= stylesheet_link_tag 'static', media: 'all', 'data-turbolinks-track': 'reload' %>
	</head>

	<body>
		<%= flash_message_manager %>
		<%= render 'shared/nav' %>

		<div class="container-fluid">
			<%= yield %>
		</div>
	</body>
</html>
